body {
  background-color: #bd9b9b;
  font-family: 'Raleway', sans-serif;
  padding: 0 5px;
  height: calc(100vh - 42px);
  padding-top: 42px;
}

h1, p, h2{
  color: #000;
}

h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 4em;
  text-align: center;
  font-weight: normal;
  margin: 0 0 42px 0;
}

img {
  width: 100%;
}

p {
  font-size: 1.3em;
  line-height: 1.2;
  text-align: center;
  margin: 20px auto;
}

a {
  color: rgb(85,26,139)
}

a:hover. a:visited {
  color: rgb(85,26,139)
}


.content {
  text-align: center;
}
.rsvp-button {
  border: 3px solid white;
  display: inline-block;
  margin: 0 auto;
  padding: 15px 30px;
  border-radius: 8px;
}

.rsvp-button a {
  color: white;
  text-decoration: none;
}


@media screen and (min-width: 1024px){
  body {
    background-image: url(/img/header.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    font-size: 1.5vw;
  }
  img {
    display: none;
  }

  h1, p, h2{
    color: #fff;
  }
  .content {
    width: 58%;
    margin-left: auto;
  }
}